@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: "Lexend Deca", sans-serif;
    color : white !important;
    background-color: black;
    text-align: center;
}
.fp-watermark {
    display: none !important;
}
.button{
    border-radius: 5px;
    font-size: 30px;
}
.btn-1{
    background: rgba(0, 0, 0, .8);
}
.button_container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3% ;
}
.fa-facebook:hover{
    color: #4267B2;
}
.s1{
    background: white;
    color: black;
}
.s1 .title{
    background: #00CFCF;
background: linear-gradient(to right, #00CFCF 27%, #DB78FF 52%, #178BFF 55%, #CF809B 84%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 50px;

}
.s2 h2{
    text-align: left !important;
    margin-left: 5em;
}
